extends layout

block content
    h2 Wybieranie słowa
    form(method='POST' action='/play/'+game_id+'/deal')
        label(for='word') Słowo:
        input#word(name='word')
        button(type='submit') Zatwierdź i przejdź do wpisywania definicji
    p.instructions.
        Wybierz słowo ze słownika wyrazów obcych. Przed wprowadzeniem zapytaj innych graczy, czy słowo nie jest im
        znane. Po zatwierdzeniu będzie można przepisać definicję. Słowa nie można poprawić.
    a.action(href='/play/'+game_id+'/skip') Nie chcę wybierać słowa (pomiń turę)
