extends layout

block content
    h2 Oczekiwanie na graczy
    p.word= turn.word
    h3 Definicje graczy
    ul
        each player in players
            li(class=(player.player_id === turn.dealer ||player.content && (canStartVote || player.voted) ? 'ready' : 'busy'))
                h4= player.name
                if player.guessed
                    p= player.content
                else
                    i Pisze...
                if player.voted
                    p Zagłosował
                else if canEndVote
                    if player.player_id !== turn.dealer
                        i Nie zagłosował
    p
        if canStartVote
            a.action(href='/play/' + game_id + '/startVoting') Zacznij głosowanie
        if canEndVote
            a.action(href='/play/' + game_id + '/endVoting') Zakończ głosowanie

    if canEndVote
        p.instructions.
            Gracze teraz głosują na definicje. Gdy wszyscy zagłosują, kliknij "Zakończ głosowanie", aby zobaczyć wyniki.
    else
        p.instructions.
            Gracze teraz wpisują swoje definicje. Gdy pojawią się wszystkie, klinkij "Zacznij głosowanie"
    p.instructions.
        Tylko Ty możesz zobaczyć, kto napisał daną definicję przed zakończeniem rundy.
