extends layout

block content
    h2 Wpisywanie definicji
    p.word= turn.word
    form(method='POST' action='/play/' + game_id + '/guess')
        label(for='definition')
        textarea#definition(name='definition')
        button(type='submit') Wyślij
    p.instructions.
        Wprowadź powyżej definicję słowa.
        #[b Nie powtarzaj] słowa w polu tekstowym. Po wysłaniu nie można poprawić definicji.
