extends layout

block content
    if games.length
        h2 Aktywne gry
        ul.games
            each game in games
                li
                    a(href='/game/'+game.game_id+'/join')
                        b Dołącz
                        | #{game.players} graczy
    a.new_game(href='/game/create') Nowa gra
