extends layout

block content
    h2 Dołącz do gry
    form(method='POST' action='/game/' + game_id + '/join')
        label(for='name') Imię:
        input#name(name='name')
        button(type='submit') Dołącz
