doctype html
html
    head
        title Panofixy
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/ws-refresh.js')
        if refresh_on
            script reloadOnEvents(!{game_id}, !{JSON.stringify(refresh_on)})
    body
        div.container
            h1 Panofixy
            block content
            if !is_home
                a.exit(href='/') Wyjdź z gry (strona główna)
