extends layout

block content
    h2 Oczekiwanie na graczy
    ol
        each player in players
            li= player.name
    p
        a(href='/game/' + game.game_id + '/start') Rozpocznij grę
    p.instructions
        | Po kliknięciu "Rozpocznij grę", nowi gracze nie będą mogli dołączyć do gry.
        | Słowa będą wybierać gracze w kolejności przedstawionej Na liście wyżej.
