extends layout

block content
    h2 Wyniki

    h3 Ostatnia runda
    ul
        each definition in definitions
            li(class=(definition.real ? 'real' : 'fake'))
                | #{definition.content} #[br] #[b #{definition.name}] #[br] #{definition.votes} głosów

    h3 Punktacja
    table
        tr
            th Gracz
            each turn, index in turns
                th Runda #{index+1} (#{turn.word})
            th Suma
        each player in players
            tr
                th= player.name
                each turn in turns
                    td= score[player.player_id][turn.turn_id]
                td= Object.values(score[player.player_id]).reduce((sum, s) => sum + s)

    p
        a.action(href='/play/'+game_id+'/next') Następna runda
