extends layout

block content
    h2 Głosowanie
    p.word= turn.word

    form(method='POST' action='/play/' + game_id + '/vote')
        ul.vote
            each def in definitions
                li
                    input(id='d_'+def.def_id name='def_id' type='radio' value=def.def_id)
                    label(for='d_'+def.def_id) #[b #{turn.word}] #{def.content}
        button(type='submit') Głosuj
    p.instructions.
        Wybierz prawdziwą definicję, a następnie kliknij "Głosuj". Decyzji nie można cofnąć.
