extends layout

block content
    if players.map(p=>p.guessed).reduce((rest, p) => rest && p)
        h2 Oczekiwanie na rozpoczęcie głosowania
    else
        h2 Oczekiwanie na innych graczy
    div.loading
    ul
        each player in players
            li(class=(player.guessed ? 'ready' : 'busy'))
                h4=player.name
                if player.guessed
                    span Gotowy
                else
                    i Pisze...
