extends layout

block content
    h2 Oczekiwanie na głosy innych graczy
    p.word= turn.word
    h3 Definicje
    ul
        each def in definitions
            li= def.content
    h3 Gracze
    ul
        each player in players
            li(class=(player.player_id === turn.dealer || player.voted) ? 'ready' : 'busy')
                h4= player.name
                if player.player_id === turn.dealer
                    span Wybierał słowo
                else if player.voted
                    span Zagłosował
                else
                    i Nie zagłosował
