extends layout

block content
    h2 Oczekiwanie na słowo
    p #[b #{turn.dealer_name}] wybiera słowo
    div.loading
    p.instructions Po wybraniu słowa automatycznie pokaże się formularz do wpisywania definicji.
