body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

@media (min-width: 1001px) {
    .container {
        width: 900px;
        margin: 20px auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    .container {
        width: auto;
        margin: 20px;
    }
}

h1 {
    text-transform: uppercase;
    letter-spacing: 10px;
}

h2, h3 {
    border-bottom: 1px solid #999;
}

label, input, button {
    display: block;
}
input[type=radio] + label {
    display: inline;
}
input[type=radio] {
    display: inline-block;
    margin-right: 10px;
}
li {
    margin: 1em 0;
}

table {
    border: 1px solid #999;
    border-collapse: collapse;
}
td, th {
    border-bottom: 1px solid #999;
    border-right: 1px dotted #999;
    padding: 5px 20px;
}

@media (min-width: 1001px) {
    h2, h3 {
        padding: 0 150px;
    }

    label, input, button {
        text-align: center;
        margin: 10px auto;
    }

    textarea {
        font: inherit;
        min-width: 400px;
        min-height: 100px;
    }

    ul, ol {
        text-align: left;
        min-width: 300px;
        /*background: #eee;*/
        border: 1px solid #999;
        border-radius: 5px;
        box-shadow: 5px 3px 7px #eee;
        padding: 10px 40px;
    }
}


.games {
    display: flex;
    padding: 0;
    justify-content: center;
}

.games li {
    display: block;
    list-style: none;
}

.games li a {
    display: flex;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 30px;
    width: 200px;
    text-align: center;
    background: #ff9;
    color: #003786;
    text-decoration: none;
    flex-direction: column;
}

.new_game {
    display: block;
    border: 1px solid #393;
    border-radius: 5px;
    background: #af9;
    padding: 30px;
    width: 200px;
    text-align: center;
    color: #339933;
}

.instructions {
    text-align: left;
    max-width: 600px;
    color: #666;
}

.ready, .real {
    color: #090;
}
.busy, .fake {
    color: #600;
}
.vote {
    list-style: none;
}
.word {
    font-size: 20pt;
    border: 1px solid #999;
    border-radius: 5px;
    min-width: 380px;
    padding: 10px;
}
.action {
    display: block;
    width: 400px;
    padding: 10px;
    font-size: 18px;
    background: #66ddFF;
    border: 1px solid #003786;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    margin: 10px;
}

.exit {
    position: absolute;
    bottom: 20px;
}


.loading {
    position: relative;
    width: 47px;
    height: 19px;
}

.loading::after {
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    top: -5px;
    animation: keyboard 1s infinite;

    box-shadow: 0px 5px 0 #999,
    7px 5px 0 #999,
    14px 5px 0 #999,
    21px 5px 0 #999,
    28px 5px 0 #999,
    35px 5px 0 #999,
    42px 5px 0 #999,
    3px 12px 0 #999,
    10px 12px 0 #999,
    17px 12px 0 #999,
    24px 12px 0 #999,
    31px 12px 0 #999,
    38px 12px 0 #999,
    7px 19px 0 #999,
    14px 19px 0 #999,
    21px 19px 0 #999,
    28px 19px 0 #999,
    35px 19px 0 #999;
}

@keyframes keyboard {
    0% {
        box-shadow: 0px 5px 0 #999,
        7px 5px 0 #999,
        14px 5px 0 #999,
        21px 5px 0 #333,
        28px 5px 0 #999,
        35px 5px 0 #999,
        42px 5px 0 #999,
        3px 12px 0 #999,
        10px 12px 0 #999,
        17px 12px 0 #333,
        24px 12px 0 #999,
        31px 12px 0 #999,
        38px 12px 0 #999,
        7px 19px 0 #999,
        14px 19px 0 #999,
        21px 19px 0 #999,
        28px 19px 0 #333,
        35px 19px 0 #999;
    }
    20% {
        box-shadow: 0px 5px 0 #333,
        7px 5px 0 #999,
        14px 5px 0 #999,
        21px 5px 0 #999,
        28px 5px 0 #999,
        35px 5px 0 #333,
        42px 5px 0 #999,
        3px 12px 0 #999,
        10px 12px 0 #999,
        17px 12px 0 #333,
        24px 12px 0 #999,
        31px 12px 0 #999,
        38px 12px 0 #999,
        7px 19px 0 #999,
        14px 19px 0 #999,
        21px 19px 0 #333,
        28px 19px 0 #999,
        35px 19px 0 #999;
    }
    40% {
        box-shadow: 0px 5px 0 #999,
        7px 5px 0 #333,
        14px 5px 0 #999,
        21px 5px 0 #999,
        28px 5px 0 #999,
        35px 5px 0 #999,
        42px 5px 0 #999,
        3px 12px 0 #333,
        10px 12px 0 #999,
        17px 12px 0 #999,
        24px 12px 0 #999,
        31px 12px 0 #999,
        38px 12px 0 #333,
        7px 19px 0 #999,
        14px 19px 0 #999,
        21px 19px 0 #999,
        28px 19px 0 #333,
        35px 19px 0 #999;
    }
    60% {
        box-shadow: 0px 5px 0 #999,
        7px 5px 0 #333,
        14px 5px 0 #999,
        21px 5px 0 #999,
        28px 5px 0 #999,
        35px 5px 0 #999,
        42px 5px 0 #333,
        3px 12px 0 #999,
        10px 12px 0 #999,
        17px 12px 0 #999,
        24px 12px 0 #999,
        31px 12px 0 #333,
        38px 12px 0 #999,
        7px 19px 0 #333,
        14px 19px 0 #999,
        21px 19px 0 #999,
        28px 19px 0 #999,
        35px 19px 0 #999;
    }
    80% {
        box-shadow: 0px 5px 0 #999,
        7px 5px 0 #999,
        14px 5px 0 #999,
        21px 5px 0 #999,
        28px 5px 0 #333,
        35px 5px 0 #999,
        42px 5px 0 #999,
        3px 12px 0 #999,
        10px 12px 0 #999,
        17px 12px 0 #999,
        24px 12px 0 #999,
        31px 12px 0 #999,
        38px 12px 0 #999,
        7px 19px 0 #999,
        14px 19px 0 #999,
        21px 19px 0 #999,
        28px 19px 0 #333,
        35px 19px 0 #999;
    }
    100% {
        box-shadow: 0px 5px 0 #999,
        7px 5px 0 #999,
        14px 5px 0 #999,
        21px 5px 0 #333,
        28px 5px 0 #999,
        35px 5px 0 #999,
        42px 5px 0 #999,
        3px 12px 0 #999,
        10px 12px 0 #999,
        17px 12px 0 #333,
        24px 12px 0 #999,
        31px 12px 0 #999,
        38px 12px 0 #999,
        7px 19px 0 #999,
        14px 19px 0 #999,
        21px 19px 0 #999,
        28px 19px 0 #333,
        35px 19px 0 #999;
    }
}
